<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>코로나 지역별 현황</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <style>
        #chartBox{
            width : 80%;
            margin-left:auto;
            margin-right:auto;
            max-width : 600px;
        }
        div > h1{
            text-align: center;
        }
    </style>
</head>
<body>
<!--
    <h1>코로나 지역별 현황</h1>
    {% for d in data %}"{{d.gubun}}",{% endfor %}
    <hr>
    사망자(누적)
    {% for d in data %}"{{d.deathCnt}}",{% endfor %}
    <hr>
    전일대비 증감 수 - 확진자
    {% for d in data %}
        {{d.incDec}}
    {% endfor %}
    <hr>
    격리해제 수
    {% for d in data %}
        {{d.isolClearCnt}}
    {% endfor %}
    <hr>
    10만명당 발생률
    {% for d in data %}
        {{d.qurRate}}
    {% endfor %}

    <hr>
    -->
    <div>
        <h1>{{data[0].createDt[:10]}}일 확진자 수</h1>
        <canvas id="localOccCnt"></canvas>

        <h1>지역별 사망자 누적수</h1>
        <canvas id="deathCnt"></canvas>

        <h1>전일대비 증감 수</h1>
        <canvas id="incDec"></canvas>

        <h1>격리해제 수</h1>
        <canvas id="isolClearCnt"></canvas>

        <h1>10만명당 발생률</h1>
        <canvas id="qurRate"></canvas>
    </div>
    <script>

        //지역 표현 색깔
        colorList = ["rgb(255, 99, 132)","rgb(54, 162, 235)","rgb(255, 205, 86)",
                    "rgb(200, 99, 32)","rgb(154, 162, 235)","rgb(155, 205, 86)",
                    "rgb(150, 99, 132)","rgb(254, 162, 235)","rgb(55, 205, 86)",
                    "rgb(100, 99, 132)","rgb(54, 62, 235)","rgb(255, 105, 86)",
                    "rgb(50, 150, 132)","rgb(54, 262, 235)","rgb(255, 5, 86)",
                    "rgb(255, 255, 132)","rgb(54, 162, 135)","rgb(255, 205, 186)",
                    "rgb(0, 100, 132)"]
        // 확진자 수 그래프
        var ctx_localOccCnt = document.getElementById('localOccCnt').getContext('2d');
        var localOccCntChart = new Chart(ctx_localOccCnt, {
            "type":"doughnut",
            "data":{
                "labels":[{% for d in data %}"{{d.gubun}}",{% endfor %}],
                "datasets":[{
                    "label":"확진자 수",
                    "data":[{% for d in data %}{{d.localOccCnt}},{% endfor %}],
                    "backgroundColor":colorList//["rgb(255, 99, 132)","rgb(54, 162, 235)","rgb(255, 205, 86)"]
                }]
            }
        });
        // 사망자 수 그래프
        var ctx_deathCnt = document.getElementById('deathCnt').getContext('2d');
        var deathCntChart = new Chart(ctx_deathCnt, {
            "type":"doughnut",
            "data":{
                "labels":[{% for d in data %}"{{d.gubun}}",{% endfor %}],
                "datasets":[{
                    "label":"사망자 누적",
                    "data":[{% for d in data %}{{d.deathCnt}},{% endfor %}],
                    "backgroundColor":colorList//["rgb(255, 99, 132)","rgb(54, 162, 235)","rgb(255, 205, 86)"]
                }]
            }
        });
        // 전일대비 확진자 증가 수
        var ctx_incDec = document.getElementById('incDec').getContext('2d');
        var incDecChart = new Chart(ctx_incDec, {
            "type":"doughnut",
            "data":{
                "labels":[{% for d in data %}"{{d.gubun}}",{% endfor %}],
                "datasets":[{
                    "label":"확진자 증감",
                    "data":[{% for d in data %}{{d.incDec}},{% endfor %}],
                    "backgroundColor":colorList//["rgb(255, 99, 132)","rgb(54, 162, 235)","rgb(255, 205, 86)"]
                }]
            }
        });
        // 격리해제 수
        var ctx_isolClearCnt = document.getElementById('isolClearCnt').getContext('2d');
        var isolClearCntChart = new Chart(ctx_isolClearCnt, {
            "type":"doughnut",
            "data":{
                "labels":[{% for d in data %}"{{d.gubun}}",{% endfor %}],
                "datasets":[{
                    "label":"격리해제 수",
                    "data":[{% for d in data %}{{d.isolClearCnt}},{% endfor %}],
                    "backgroundColor":colorList//["rgb(255, 99, 132)","rgb(54, 162, 235)","rgb(255, 205, 86)"]
                }]
            }
        });
        // 10만명당 발생 수
        var ctx_qurRate = document.getElementById('qurRate').getContext('2d');
        var qurRateChart = new Chart(ctx_qurRate, {
            "type":"doughnut",
            "data":{
                "labels":[{% for d in data %}"{{d.gubun}}",{% endfor %}],
                "datasets":[{
                    "label":"10만명당 발생 수",
                    "data":[{% for d in data %}{{d.qurRate|float}},{% endfor %}],
                    "backgroundColor":colorList//["rgb(255, 99, 132)","rgb(54, 162, 235)","rgb(255, 205, 86)"]
                }]
            }
        });
    </script>
</body>
</html>